# temp files
.~lock.*

# automatically installed packages
pkg

# Binaries built from sources
bin/main*
bin/oaem*
bin/go*
bin/dlv
bin/guru
bin/impl

archives
export/archives*

var/import/*.zip
var/import/*2019.csv

# sources modules for vscode IDE
src/github.com/*
!src/github.com/mattn/
src/golang.org

# debug directory
src/oaem/debug
